* {
  padding: 0em;
  margin: 0em;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', 'Courier', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color: #555;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  color: #444
}

main {
  max-width: 960px;
  margin: 0px auto;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

main > section {
  display: flex;
  flex-direction: column;
  gap: .8em;
}
section#intro .info {
  display: flex;
  justify-content: space-between;
}
section#intro .info div.brief {
  max-width: 70%;
}
section#intro .info div.brief div.contact {
  padding: 1em 0em;
  display: flex;
  gap: .2em
}
section#intro .info div.brief div.contact a {
  display: flex;
  align-items: center;
  border-radius: .2em;
  border: 1px solid #ccc;
  gap: .2em;
  padding: .4em;
}
span.fa {
  height: 100%;
  font-size: 1.4em;
}
span.url {
  font-size: .7em;
  padding: 0px;
}

section#intro .profile-picture {
  border-radius: .2em;
  overflow: hidden;
  width: 140px;
  height: 150px;
  background: url("../images/lindo-mlambo.jpg");
  background-position: center 10%;
  background-size: 150%;
}

.experience-container {
  display: flex;
  flex-direction: column;
  padding: .5em 0em;
  gap: .5em;
}
.experience-item {
  padding: .5em 0em;
  display: flex;
  flex-direction: column;
  gap: .4em;
}
.experience-item .position {
  display: flex;
  justify-content: space-between;
}
.experience-item .description {
  max-width: 92%;
}

div.skills-container {
  display: flex;
  gap: .5em;
}
span.skill-item {
  color: rgba(255, 255, 255, .87);
  background-color: #444;
  padding: .2em .4em;
  border-radius: .2em;
}